
.vib-1 {
  animation: 0.8s vib-anim-1 infinite alternate;
  display: inline-block;
}
@keyframes vib-anim-1 {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0);
  }
  100% {
    transform: skewX(0);
  }
}
